body {
    background-color:lightgray;
}

.topnav {
  background-color: #333;
  overflow: hidden; 
  width: 100%;  
  height: 80px; 
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: inline-block; /* Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values */
  margin-right: 20px;
  height: 80px;        /* if you want it to take the full height of the bar */
  line-height: 80px;  /* if you want it vertically middle of the navbar */
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: lightgray;
  color: black;
  /* height: 60px; */
}

.topnav img {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: auto;
}

/* Index page of app */
.main-page h1{
  text-align: center;
}

.main-page img{
  display: block;
  margin:auto; 
  /* margin-left: auto;
  margin-right: auto; */
  width: 600px; 
  height:auto;
}

/* Rest pages of app */
.container-page h1{
  text-align: center;
}

.container-form {
  margin: auto;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  /* justify-content: center; */
}

.container-form input[type=text], input[type=email], select{
  width: 100%;
  padding: 12px 20px;   /* top and bottom paddings are 12px, right and left paddings are 20px */
  margin: 8px 0; /* top and bottom margin are 8px, right and left margin are 20px */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container-form input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-form input[type=submit]:hover {
  background-color: lightgray;
}

#show-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

#show-tables td, #show-table th {
  border: 1px solid black;
  padding: 8px;
}

#show-table tr:nth-child(even){
  background-color: #f2f2f2;
}

#show-table tr:hover {
  background-color: #333;
  color: white;
}

#show-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

#back-button a{
  color: #333;
  text-decoration: none;
  font-size: 17px;
}

#back-button a:hover{
  color: blue;
}