body {
    background-color: lightgray;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.topnav {
    background-color: blueviolet;
    width: 100%;
    height: 10vmin;
    overflow: hidden;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.topnav a {
    color: rgb(0, 0, 0);
    font-size: 1em;
    display: inline-block;
    line-height: 400%;
    text-decoration: none;
    padding: 0 1% 0 1%;
    height: 4em;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
}

.topnav .nav-img {
    width: 10%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.topnav a:hover {
    color: white;
    background-color: rgb(35, 121, 150);
}

.topnav .active {
    color: white;
    background-color: rgb(35, 121, 150);
}

.topnav a img {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
}

.main-page h1 {
    text-align: center;
}

.main-page img {
    display: block;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 20%;
    height: auto;
}

.container-page h1 {
    text-align: center;
    background-color: brown;
    margin: 0 0 0 0;
}

.container-page {
    text-align: center;
}

.container-page .container-form {
    background-color: lightcoral;
    width: 25%;
    margin: auto;
    padding: 1%;
    border: 2px solid black;
    border-radius: 10px;
}

.container-page .container-form label {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.container-page .container-form input[type=text],
input[type=email],
input[type=password] {
    border: 2px solid lightblue;
    border-us: 5px;
    padding: 5px 0 5px 0;
    width: 100%;
    text-align: center;
}

.container-page .container-form input[type=submit] {
    width: 100%;
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}

.container-page .container-form input[type=submit]:hover {
    background: lightgrey;
    color: black;
    cursor: pointer;
}

.container-page .container-form select {
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.container-page .container-form .radio-select {
    width: 20%;
}

#show-table {
    width: 70%;
    margin: auto;
    color: white;
    cursor: default;
}

#show-table td,
#show-table th {
    border: 3px solid black;
    border-radius: 2px;
    color: brown;
    background-color: greenyellow;
    text-align: center;
    padding: 0.8%;
}

#show-table th {
    background-color: darkgreen;
    color: black;
}

#show-table tr:nth-child(even) {
    background-color: white;
}

#show-table td:hover {
    background-color: antiquewhite;
}

#return-back a{
    color: red;
    text-decoration: none;
    font-size: 17px;
}

#return-back a:hover {
    color:blue;
}
