<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>My Application</title>
	</head>
	<body>
		<p>Δημιουργία Χρήστη</p>
		
		<form method="post" action="/user">
			Όνομα: <input type="text" name="firstname"><br>
			Επίθετο: <input type="text" name="lastname"><br>
			Email: <input type="email" name="email"><br>
			<p>
				<input type="radio" name="sex" value="male">Άνδρα</input>
				<input type="radio" name="sex" value="female">Γυναίκα</input>
			</p>
			<input type="submit" value="Υποβολή">
			<input type="reset" value="Καθάρισμα">
		</form>
	</body>
</html>
