<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>My Application</title>
	</head>
	<body>
		<p>Εμφάνιση χρήστη</p>
		
		Όνομα: <%= name %> <br>
		Επίθετο: <%= surname %><br>
		Email: <%= mail %><br>
		Φύλο: <%= sex %><br>
		
		<p><a href="/create">Επιστροφή</a></p>
	</body>
</html>
