@page
@model StudentsAppEmpty.Pages.HomeModel

<div class="container">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1 class="dispaly-3">
            Welcome to SEV-AUEB
        </h1>

        <p class="lead">
            We produce professional programmers!
        </p>

        <hr />

        <p>
            It's @Model.DayName! Time to learn more about AUEB
            <a class="btn btn-primary" href="https://aueb.gr/">
                Learn More
            </a>
        </p>
    </div>
</div>
