<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>My Application</title>
	</head>
	<body>
		<p>Εμφάνιση χρήστη</p>
		
		<% if (customer) { %>
			<form method="post" action="/update">
				Όνομα: <input type="text" name="firstname" value=<%= customer.firstname %> disabled><br>
				Επίθετο: <input type="text" name="lastname" value=<%= customer.lastname %>><br>
				Email: <input type="email" name="email" value=<%= customer.email %> ><br>
				Age: <input type="number" name="age" value=<%= customer.age %> ><br>
				<p>
					<input type="radio" name="sex" value="male" <% if(customer.sex=="male"){ %> checked="checked" <% } %> >Άνδρα</input>
					<input type="radio" name="sex" value="female" <% if(customer.sex=="female"){ %> checked="checked" <% } %>>Γυναίκα</input>
				</p>
				<input type="submit" value="Υποβολή">
				<input type="reset" value="Καθάρισμα">
			</form>
		<% } %>
		
		<p><a href="/main">Επιστροφή</a></p>
	</body>
</html>
